body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 32px;
}

#power-gauge g.arc {
  fill: steelblue;
}

#power-gauge g.pointer {
  fill: #0a0301;
  stroke: #0b0300;
}

#power-gauge g.label text {
  text-anchor: middle;
  font-size: 14px;
  font-weight: bold;
  fill: #666;
}
